.signIn {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signInForm {
  width: 25rem;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
